footer.footer
  .container
    .footer__content
      a(href="/", class="logo footer__logo")
        .logo__img
          img(src="./images/footer/logo.png", alt="logo", class="img")
        strong.logo__text.logo__text--bottom SAYTSPB
      small.footer__copyright Copyright &copy; 2020. Все права защищены