header.header
  .container
    .header__content
      a(href="/", class="logo header__logo")
        .logo__img
          img(src="./images/header/logo.png", alt="logo", class="img")
        strong.logo__text.logo__text--right SAYTSPB
      .header__navbar
        nav.nav
          ul.nav__list
            li.nav__item
              a(href="#advantage", class="nav__link") ПРОДВИЖЕНИЕ
            li.nav__item
              a(href="#services", class="nav__link") АУДИТ
            li.nav__item
              a(href="#cost", class="nav__link") ЦЕНЫ
            li.nav__item
              a(href="#contacts", class="nav__link") КОНТАКТЫ
        a(href="tel:+78129921030", class="header__phone") +7 (812) 992-10-30
        button.button.header__button.callback Заказать звонок
      .burger-menu
        span.burger-menu__span
        span.burger-menu__span
        span.burger-menu__span
