.footer {
  padding-top: 4.062rem;
  padding-bottom: 3.125rem;
  background: darken($color-light, 5%) url('../images/footer/background/footer-bg.png');

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__copyright {
    color: darken($color-dark, 15%);
    font-size: 1rem;
    font-weight: 500;
    align-self: stretch;
    text-align: center;

    &::before {
      content: '';
      display: block;
      margin: 2.812rem auto 3.125rem;
      width: 74%;
      max-width: 54.125rem;
      height: 0.188rem;
      background-color: $color-dark;
    }
  }
}